ENVIRONMENT=local
DEBUG=True
APP_NAME=ManyChatLike
APP_HOST=127.0.0.1
APP_PORT=8061
DATABASE_URL=sqlite:///./data/app.db
JWT_SECRET_KEY=changeme_local_secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
